.container{
    
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   gap: 20px;
   margin-top: 2px;
   margin-left: 20px;
   margin-right: 20px;
}

.contenedorExterno {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .contenedorPrincipal {
    display: flex;
    flex-direction: column;
  }
  
  .contenedorHorizontal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .elemento {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }

  .navcontainer{
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    border-style:solid;
    border-color: rgb(245, 242, 239);
    border-radius: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
    flex-grow: 10px;
}