

.activitiesPage {
   height: 50%;
   width: 50%;
   margin-top: 5px;
   padding-top: 10px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
    

}

.formActivitie {
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: column;
   align-items: center;
   align-content: center;
   border: 4px solid rgb(150, 128, 107);
   border-radius: 5px;
   padding: 15px;
}

.formActivitie span {
   text-align: left;
   font-size: 23px;
   margin-left: 20px;
   color: #f7f3f3;
}

.inputItems {
   width: 100%;
   background: rgb(52, 54, 99);
   border-radius: 25px;
   margin: 4px 0 10px 4px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   /* padding: 5px;
   border: 1px solid #ccc;
   border-radius: 3px; */
}

.inputElement {
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 3px;
   /* margin-left: 100px; */
}

.icon {
      padding: 8px;
      color: #f0eaea;
      min-width: 30px;
      text-align: center;
}

.inputNormal {
      width: 100%;
      border: 0;
      background: none;
      font-size: 16px;
      padding: 8px 0;
      outline: none;
}
.inputInvalido {
      width: 100%;
         border: 2px;
         border-style: solid;
         border-color: red;
         background: rgb(219, 167, 167);
         font-size: 16px;
         padding: 8px 0;
         outline: none;
}
.inputValido {
   width: 100%;
   border: 2px;
   border-color: green;
   border-style:solid;
   background: rgb(197, 236, 197);
   font-size: 16px;
   padding: 8px 0;
   outline: none;
   color: #131212;
}

.background {
   width: 70%;
   padding: 10px;
   height: 100vh;
   background: url('../../../public/img/imgLogin.jpg') center no-repeat;
   background-size:cover;
   margin: 4px auto;
   height: 200px;
}

.labelInput {
   margin-bottom: 10px; 
   color: #f0eaea;
 }

 .boton {
   color: #597a85 !important;
   font-size: 15px;
   font-weight: 500;
   padding: 0.5em 1.2em;
   background: rgba(0,0,0,0);
   border: 2px solid;
   border-color: #585f61;
   transition: all 1s ease;
   width: 40%;
   /* position: relative; */
 }

 .boton:hover {
   background: rgb(52, 54, 99);
   color: #fff !important;
 }
 